@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color: #151515;
    --primary-color: #ccd6f6;
    --secondary-color: #32d9c2;
    --third-color: #c6c6c6;

    --border-radius: 10px;
    --transition-time: .5s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-color);
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

.highlight {
    background: linear-gradient(to right, var(--secondary-color) 50%, var(--bg-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    transition: all var(--transition-time) ease;
    width: 0;
}
.highlight:hover {
    background-color: var(--secondary-color);
    background-position: left bottom;
    color: var(--bg-color);
    cursor: pointer;
    padding: 0 5px;
}

.navigation-container {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    padding: 10px 5px;
    position: fixed;
    transform: translateX(-50%);
    transition: all var(--transition-time) ease;
    top: 15px;
}
.navigation-container.scroll {
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    /* top: calc(100vh - 50px); */
}
.navigation-container .nav-link {
    background: linear-gradient(to right, var(--secondary-color) 50%, var(--bg-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: var(--border-radius);
    transition: all var(--transition-time) ease;
    padding: 0 25px;
}
.navigation-container .nav-link.active {
    background-position: left bottom;
    color: var(--bg-color);
}
.navigation-container .nav-link:hover {
    color: var(--secondary-color);
}
.navigation-container .nav-link.active.nav-link:hover {
    color: var(--bg-color);
}

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 50px 10rem;
    width: 100%;
}

.about-container {
}
.about-container .content {
}
.about-container .canvas-container {
    min-height: 250px;
    min-width: 500px;
}
.about-container .section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    padding-top: 0.2em;
}
.about-container .section-content {
    color: var(--third-color);
    font-size: 1em;
    padding-top: 1.5em;
}

.canvas-container {
    display: block;
}

.blinking {
    animation: blinking .75s infinite;
}

.btn-primary {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 2.5em;
    padding: 10px 40px;
    background: linear-gradient(to right, var(--secondary-color) 50%, var(--bg-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all var(--transition-time) ease;
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    background-position: left bottom;
    color: var(--bg-color);
}

@keyframes blinking {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@media screen and (max-width: 480px) {
    .about-container .content {
        min-width: 100vw;
        padding: 25px;
    }
    .about-container .section-title {
        font-size: 2.2em;
    }

    .about-container .canvas-container {
        min-width: auto;
        min-height: 150px;
    }

    .navigation-container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    .about-container {
        flex-direction: column;
    }

    .about-container .section-title {
        font-size: 2.8em;
    }

    .about-container .canvas-container {
        min-width: auto;
        min-height: 200px;
    }
}