@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color: #151515;
    --primary-color: #ccd6f6;
    --secondary-color: #32d9c2;
    --third-color: #c6c6c6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 ,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    padding-top: 0.2em;
}

h2 {
    color: var(--secondary-color);
}

h5 {
    color: var(--secondary-color);
    font-size: 1em;
}

h6 {
    color: var(--third-color);
    font-size: 1em;
    padding-top: 1.5em;
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    color: var(--secondary-color);
}

img {
    /* max-width: 200px; */
    height: 200px;
    width: 200px;
    object-fit: cover;
}

html,
body {
    background-color: var(--bg-color);
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    scroll-behavior: smooth;
    width: 100%;
}

.navigation-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 50%;
}

.path {
    color: var(--secondary-color);
    font-size: 0.8em;
}

.logo {
    margin-right: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-link {
    cursor: pointer;
    padding: 0 20px;
}

.about-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    margin: auto;
    width: 100%;
}

.blinking {
    animation: blinking 1s infinite;
}

.btn-primary {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2.5em;
    padding: 10px 50px;
}

.showcase-container {
    display: flex;
    height: 100%;
    padding-top: 10px;
    width: 100%;
}

.showcase-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5em 0;
    
}

.showcase-container img {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5em;
}

@keyframes blinking {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

@media screen and (max-width: 641px) {
    html, 
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    h1,
    h2 {
        font-size: 3em;
    }

    .navigation-container {
        display: none;
    }

    .showcase-content {
        justify-content: space-evenly;
    }
}